  #dashboard {
    height: 100vh;

  }

  #dashboard.lightMode {
    background-color: #dee6f1;
    color: #252728;
  }

  #dashboard.darkMode {
    background-color: #252728;
    color: #dee6f1;

  }

  #list {
    margin-top: 7%;
    max-width: 800px;
    flex-wrap: wrap;
  }

  .nav {
    background-color: #ADD7F6;
  }

  .nav-button {
    color: aliceblue;
    background-color: #3F8EFC;
  }